body{
	background-color: rgb(241, 242, 246);
}

#app{
	display: flex;
	align-items: stretch;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}

.room-list, .users-list{
	background-color: #434a54;
	width: 200px;
	color: rgba(255, 255, 255, 0.7);
}

.room-list ul, .users-list ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

.room-list li, .users-list li{
	padding: 10px;
	cursor: pointer;
}

.room-list li:hover, .users-list li:hover, .room-list li.active, .users-list li.active{
	color: rgba(255, 255, 255, 0.9);
	background-color: rgba(0, 0, 0, 0.1);
}

.room-list h3, .users-list h3{
	text-align: center;
	margin: 15px;
	color: rgba(255, 255, 255, 0.9);
}

.main-content{
	flex: 1;
	display: flex;
	align-items: stretch;
	flex-direction: column;
	padding: 10px;
}

.messages{
	flex: 1;
	overflow: auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
}

.messages .well{
	background-color: rgba(255, 255, 255, 0.8);
	flex-shrink: 0;
}

.messages .from{
	font-weight: bold;
	text-transform : uppercase;
}

.input-form{
	padding-top: 10px;
}